<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>New Speaker Request has been made</h1>
            <p>
              <%= link_to "Click Here", "#{@url}/admin/speaker_requests/#{@speaker_request.id}" %> to see it and publish it if needed.
            </p>
            <p>
              Date: <%= @speaker_request.date %><br>
              Requesting Org: <%= @speaker_request.requesting_org %><br>
              Website: <%= @speaker_request.website %><br>
              Location Name: <%= @speaker_request.location_name %><br>
              Location Street: <%= @speaker_request.location_street %><br>
              Location Street: <%= @speaker_request.location_street %><br>
              <% if @speaker_request.city.present? %>
                City: <%= @speaker_request.city[0].name %><br>
              <% else %>
              City:<br>
              <% end %>
              <% if @speaker_request.state.present? %>
                State: <%= @speaker_request.state[0].name %><br>
              <% else %>
              State:<br>
              <% end %>
              Location Zip: <%= @speaker_request.location_zip %><br>
              Contact Person: <%= @speaker_request.contact_person %><br>
              Contact Phone: <%= @speaker_request.phone %><br>
              Contact Email: <%= @speaker_request.email %><br>
              <h3>Content:</h3>
              <%= @speaker_request.content %></br>
            </p>
	</body>
</html>
