<div class="span11 well">
<%= form_for(@speaker_request, :html => { :honeypot => true, :class => "form-horizontal" }) do |f| %>
  <% if @speaker_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker_request.errors.count, "error") %> prohibited this speaker_request from being saved:</h2>

      <ul>
      <% @speaker_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
      <h4>Title</h4>
    </div>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <div>
      <h4>Date</h4>
    </div>
  
    <%= f.datetime_picker("date", :minDate => 1, :dateFormat => "yy-mm-dd") %>
  </div>

  <div>
    <h4>Miscellaneous info</h4>
  </div>

  <label class="checkbox">
    <%= f.check_box :public %>
    <%= label_tag(:public, "Is this event Public?") %>
  </label>
  
  <label class="checkbox">
      <%= f.check_box :cme_ceu %>
      <%= label_tag(:cme_ceu, 
      		"Does this even need to be certified for CMI or CEU credits?") %>
  </label>

  <label class="checkbox">
      <%= f.check_box :train_trainer %>
      <%= label_tag(:train_trainer, 
      	      'Train the Trainer?') %>
  </label>

  <div class="control-group">	
    <label class="control-label" for="requesting_org">
      <%= label_tag(:requesting_org, "Requesting Org Name") %>
    </label>
    <div class="controls">
     <%= f.text_field :requesting_org %>
    </div>
  </div>
  <div class="control-group">	
    <div>
      <h4>Location Info</h4>
    </div>
  
  <label class="checkbox">
    <%= f.check_box :online %>
    <%= label_tag(:online, "Is this event Online?") %>
    <p class="muted">if online use the Description box below for more info.</p>
  </label>
    <h4> -- or -- </h4>
    <label class="control-label" for="location-name">
      <%= label_tag(:location_name, "Location Name") %>
    </label>
    <div class="controls">
     <%= f.text_field :location_name %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="location-street">
      Location Street
    </label>
    <div class="controls">
     <%= f.text_field :location_street %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="location-street-two">
    	Location Street Two
    </label>
    <div class="controls">
     <%= f.text_field :location_street_two %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="location-zip">
      <%= label_tag(:location_zip, "Postal Code") %>
    </label>
    <div class="controls">
     <%= f.text_field :location_zip %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="city_list">
      <%= label_tag(:city_list, "City") %>
    </label>
    <div class="controls">
     <%= f.text_field :city_list %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="state_list">
      <%= label_tag(:state_list, "State") %>
    </label>
    <div class="controls">
     <%= f.text_field :state_list %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="website">
      <%= label_tag(:website, "Website") %>
    </label>
    <div class="controls">
     <h4>If online what is the website?</h4>
     <%= f.text_field :website %>
    </div>
  </div>
  <div class="control-group">	
    <div><h4>Contact Info</h4><p class="muted">If differs from the Speaker?</p></div>
    <label class="control-label" for="contact-person">
      <%= label_tag(:contact_person, "Contact Person") %>
    </label>
    <div class="controls">
     <%= f.text_field :contact_person %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="phone">
      <%= label_tag(:phone, "Phone") %>
    </label>
    <div class="controls">
     <%= f.text_field :phone %>
    </div>
  </div>
  <div class="control-group">	
    <label class="control-label" for="email">
      <%= label_tag(:email, "Email") %>
    </label>
    <div class="controls">
     <%= f.text_field :email %>
    </div>
  </div>

  <div class="field span8">
    <h4>Event Description or notes</h4>
    <%= f.text_area(:content, :size => "80x10") %>
  </div>

  <div class="well actions span12">
    <%= f.submit %>
  </div>

<% end %>
</div>
