<%= form_for(@speaker_request) do |f| %>
  <% if @speaker_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker_request.errors.count, "error") %> prohibited this speaker_request from being saved:</h2>

      <ul>
      <% @speaker_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field span12">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :speaker_id %><br />
    <%= f.collection_select :speaker_id, Speaker.all, :id, :firstname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
