<h3>Speaker Requests</h3>

<div class="span10">
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Speaker</th>
    <th>Location</th>
  </tr>

<% @speaker_requests.each do |speaker_request| %>
  <tr>
    <td><%= link_to speaker_request.title, speaker_request_path(speaker_request.id) %></td>
    <td><%= speaker_request.date %></td>
    <td><%= simple_format speakerName(speaker_request) %></td>
    <td><%= simple_format locationName(speaker_request) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>
</div>
