<div class="row-fluid">
<h3>Speaker Requests</h3>
    <table class="span12 table table-striped table-bordered table-hover">
      <tr>
        <th>View</th>
        <th>Date</th>
        <th>Tags</th>
        <th>Public</th>
        <th>Speaker</th>
        <th>City, State</th>
      </tr>

    <% @speaker_requests_upcoming.each do |speaker_request| %>
      <tr>
        <td class="title"><%= link_to "View", speaker_request_path(speaker_request.id) %></td>
        <td class="date">
          <strong>Date:</strong><%= speaker_request.date.strftime("%A") %>   
          <%= speaker_request.date.strftime("%b %e, %Y") %>
          </br>
	  <strong>Time:</strong><%= speaker_request.date.strftime("%l:%M %p %Z") %>
        </td>
        <td class="tags"><%= speaker_request.tag_list %></td>
        <td class="public"><%= speaker_request.public ? 'Yes' : 'No'%></td>
        <td class="speaker"><%= simple_format speakerName(speaker_request) %></td>
        <td class="location">
          <% speaker_request.city.each do |c| %>
            <%= c.name %>, 
          <% end %>
          <% speaker_request.state.each do |s| %>
            <%= s.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
    <div class="span10 offset1">
      <%= will_paginate @speaker_requests_upcoming, :renderer => BootstrapPagination::Rails %>
    </div>
</div>
