<p id="notice"><%= notice %></p>

<h3>Request #<%= @speaker_request.id %></h3>

<dl class="dl-horizontal">
  
  <dt>Date</dt>
  <dd><%= @speaker_request.date %></dd>

  <dt>Audience</dt>
  <dd><%= @speaker_request.tag_list %></dd>
  
  <dt>Speaker</dt>
  <dd>
      <%= simple_format speakerName(@speaker_request) %>
  </dd>

  <dt>Location</dt>
  <dd> 
    <%= simple_format @speaker_request.location_name %>
  </dd>

  <dt>Train the Trainer Event</dt>
  <dd><%= @speaker_request.train_trainer ? 'Yes' : 'No' %></dd>
 
  <dt>Open to Public</dt>
  <dd><%= @speaker_request.public ? 'Yes' : 'No' %></dd>  

  <dt>Event needs to be certified for CME or CEU credits</dt>
  <dd>
    <%= @speaker_request.cme_ceu ? 'Yes' : 'No' %>
  </dd>

  </br><em>Event needs to be certified for CME or CEU credits</em>
  
  <hr>
  <dt>Description</dt>
  <dd><%= @speaker_request.content %></dd> 

</dl>