<p id="notice"><%= notice %></p>

<h3>Request #<%= @speaker_request.id %></h3>

<span class="row">
  <span class="span6">
    <dl class="dl-horizontal">
      
      <dt>Date</dt>
      <dd class="date">
       <%= @speaker_request.date ||= "No Date" %></dd>

      <dt>Audience</dt>
      <dd>
      <% 
      if @speaker_request.tag_list.empty? == true %>
        None set
      <% else %>
       <%= puts @speaker_request.tag_list %>
      <% end %>
      </dd>
      
      <dt>Speaker</dt>
      <dd>
      <% if @speaker_request.speakers %>
         Yes
      <% else %>
         No
      <% end %>
      </dd>

      <dt>Location</dt>
      <dd> 
        <% if @speaker_request.location_name.empty? == true  %>
          None set
        <% else %>
          <%= @speaker_request.location_name %>
        <% end %>
      </dd>

      <dt>Online</dt>
      <dd> 
        <%= simple_format @speaker_request.online ? 'Yes' : 'No' %>
      </dd>

      <dt>Train the Trainer Event</dt>
      <dd><%= @speaker_request.train_trainer ? 'Yes' : 'No' %></dd>
     
      <dt>Open to Public</dt>
      <dd><%= @speaker_request.public ? 'Yes' : 'No' %></dd>  

      <dt>CME or CEU*</dt>
      <dd>
        <%= @speaker_request.cme_ceu ? 'Yes' : 'No' %>
      </dd>

      </br><em>*Event needs to be certified for CME or CEU credits</em>
      
      <hr>
      <dt>Description</dt>
      <dd><%= @speaker_request.content %></dd> 

    </dl>
  </span>
  <span class="span4">
    <h4>Speakers</h4>
    <% @speaker_request.speakers.each do |s| %>
        <dt>First Name</dt>
        <dd><%= s.firstname %></dd>
        <dt>Last Name</dt>
        <dd><%= s.lastname %></dd>
        <dt>Related Org</dt>
        <dd><%= s.relatedorg %></dd>
        <hr/>
      <% end %>
  </span>
</span>

