<!DOCTYPE html>
<html>
<head>
  <title>Doctors for America - Speakers Bureau</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<%= render 'shared/topnav' %>
	<div class="row-fluid content">
	<div class="span2">
	  <br/>
	  <%= render 'shared/search' %>
	</div>

	<div class="span10">
		<% flash.each do |key, value| %>
  		  <%= content_tag(:div, value, class: "alert alert-#{key}") %>               
		<% end %>
  		<%= yield %>
		</div>
	</div>
	<hr />
	<div class="row-fluid well">
		<div class="span12">
			<footer> Footer Area... </footer>
		</div>
	</div>
    </div>
  </body>
</html>
