<!DOCTYPE html>
<html>
<head>
  <title>Doctors for America - Speakers Bureau</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags unless @page_caching %>
</head>
<body>
    <div class="container-narrow">
	<%= render 'shared/topnav' %>
	<div class="row-fluid content">
      <%= render 'layouts/fullsidebar' %>
      <% if request.path != '/' %>
  	    <div class="span9 inner">
      <% else %>
        <div class="span12 inner">
      <% end %>
      <% unless @page_caching %>
        <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>               
      <% end %>
        <% end %>
      <%= yield %>
	  </div>
	</div><!--end content area-->
	<div class="footer row-fluid span10">
		<footer> Doctors for America 
		  <a href="http://www.drsforamerica.org/">http://www.drsforamerica.org/</a> 
		  | WebApp by <a href="http://alfrednutile.info">Alfred Nutile [Rails]</a>
		</footer>
	</div>
  </div>
  <%= render 'shared/modal' %>
  </body>
</html>
